.sticky, .sticky-logo, .social-media ul li img, .social-media ul li img:hover, .navbar .logo, .navbar .navbar-collapse, .navbar .navbar-nav .nav-item .nav-link, .navbar .navbar-nav .nav-item .nav-link:hover, .contact-us .reserve .contact-info .social-black .social li, .fixed-contact {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.block-sec {
  direction: rtl;
  padding-top: 70px;
  border: 2px solid #191d20;
  border-bottom: none;
  border-top: none;
  position: relative;
  background-image: url("../imgs/line.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.block-sec h3 {
  font-family: 'bukra';
  font-size: 18px;
  font-weight: bold;
}

@media (max-width: 767px) {
  .col-mobile-full {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

@font-face {
  font-family: "arial";
  src: url("../fonts/arial.ttf");
}

@font-face {
  font-family: "arialbd";
  src: url("../fonts/arialbd.ttf");
}

@font-face {
  font-family: "arialbi";
  src: url("../fonts/arialbi.ttf");
}

@font-face {
  font-family: "ariali";
  src: url("../fonts/ariali.ttf");
}

@font-face {
  font-family: "bukra";
  src: url("../fonts/29lt-bukra-bold_0.ttf");
}

@font-face {
  font-family: "ARIALNB_2";
  src: url("../fonts/ARIALNB_2.ttf");
}

@font-face {
  font-family: "ARIALN_2";
  src: url("../fonts/ARIALN_2.ttf");
}

@font-face {
  font-family: "ARIALNBI_2";
  src: url("../fonts/ARIALNBI2.ttf");
}

@font-face {
  font-family: "ARIALNI_2";
  src: url("../fonts/ARIALNI2.ttf");
}

@font-face {
  font-family: "ariblk";
  src: url("../fonts/ariblk.ttf");
}

@font-face {
  font-family: "bokra";
  src: url("../fonts/bokra.ttf");
}

@font-face {
  font-family: "MATEEN";
  src: url("../fonts/MATEEN.ttf");
}

html {
  scroll-behavior: smooth;
  height: 100%;
  /* added */
}

body {
  height: 100%;
  /* added */
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  outline: none;
  text-decoration: none;
  color: #191d20;
}

@media (max-width: 767px) {
  .col-mobile-full {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    max-width: 100%;
  }
}

.justify-content-round {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.sticky {
  background-color: #191d20;
  border-bottom: 1px solid #0088a4;
}

.sticky-logo {
  border-bottom: 1px solid #191d20;
}

@media (max-width: 991px) {
  .sticky-logo {
    background: -webkit-gradient(linear, left bottom, left top, color-stop(-34%, rgba(255, 255, 255, 0)), color-stop(50%, #191d20), to(#191d20));
    background: linear-gradient(to top, rgba(255, 255, 255, 0) -34%, #191d20 50%, #191d20 100%);
  }
}

/* start header */
.social-media {
  position: fixed;
  z-index: 3;
  top: 100px;
  padding-left: 5px;
  border-left: 5px solid #0088a4;
}

@media (max-width: 767px) {
  .social-media {
    display: none;
  }
}

.social-media ul li img {
  width: 35px;
  margin-right: 10px;
  border-radius: 50%;
}

@media (max-width: 767px) {
  .social-media ul li img {
    width: 25px;
  }
}

.social-media ul li img:hover {
  border-radius: 50%;
  margin-left: 10px;
}

.social-media ul li img.snap:hover {
  background-color: yellow;
}

.social-media ul li img.y-tub:hover {
  background-color: #ff0000;
}

.social-media ul li img.inst:hover {
  background-color: #e24658;
}

.social-media ul li img.tw:hover {
  background-color: #1da1f2;
}

.social-media ul li img.fb:hover {
  background-color: #4867aa;
}

/* end header */
/* start nav */
.navbar {
  direction: rtl;
  padding: 0;
}

@media (max-width: 991px) {
  .navbar {
    background-color: unset;
  }
}

.navbar .navbar-toggler {
  background-color: #0088a4;
  margin-top: -75px;
  margin-right: 5%;
}

.navbar .navbar-light .navbar-toggler {
  border-color: #191d20 !important;
}

.navbar .logo {
  background-color: #0088a4;
  height: 100%;
  padding-bottom: 21px;
  padding-top: 21px;
}

.navbar .logo .navbar-brand {
  font-family: 'bokra';
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
}

@media (max-width: 767px) {
  .navbar .logo .navbar-brand {
    /* added */
    font-size: 15px;
  }
}

@media (max-width: 991px) {
  .navbar .logo {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

@media (max-width: 575px) {
  .navbar .navbar-nav {
    /* added */
    padding-right: 0;
  }
}

@media (max-width: 991px) {
  .navbar .navbar-nav {
    background-color: #191d20;
    text-align: right;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.navbar .navbar-nav .nav-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 82px;
}

.navbar .navbar-nav .nav-item:last-of-type .nav-link {
  border-left: 0px;
}

@media (max-width: 991px) {
  .navbar .navbar-nav .nav-item {
    margin-bottom: 15px;
    margin-top: 15px;
    height: auto;
  }
}

.navbar .navbar-nav .nav-item .nav-link {
  border-left: 3px solid;
  padding: 0;
  padding: 0 30px;
  color: #ffffff;
  padding-bottom: 5px;
  padding-top: 5px;
  font-family: 'bukra';
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navbar .navbar-nav .nav-item .nav-link:hover {
  height: 100%;
  padding: 5px 30px;
  color: #0088a4;
  background-color: #ffffff2b;
}

@media (max-width: 767px) {
  .navbar .navbar-nav .nav-item .nav-link:hover {
    font-size: 10px;
    padding: 5px 10px;
  }
}

@media (max-width: 575px) {
  .navbar .navbar-nav .nav-item .nav-link:hover {
    /* added */
    padding: 5px 2px;
  }
}

@media (max-width: 991px) {
  .navbar .navbar-nav .nav-item .nav-link {
    border-right: 3px solid;
    border-left: none;
    padding: 5px 30px;
  }
}

@media (max-width: 767px) {
  .navbar .navbar-nav .nav-item .nav-link {
    font-size: 10px;
    padding: 5px 10px;
  }
}

@media (max-width: 575px) {
  .navbar .navbar-nav .nav-item .nav-link {
    /* added */
    padding: 5px 2px;
  }
}

/* end nav */
/* start slider */
#myCarousel {
  background-color: #0088a4;
  padding: 81px 0;
  direction: rtl;
}

@media (min-width: 1200px) {
  #myCarousel {
    /* added */
    height: 100%;
  }
}

#myCarousel .carousel-inner .carousel-item .carousel-caption {
  bottom: 40%;
  top: 25%;
  margin-right: 115px;
  right: 0;
  text-align: right;
}

@media (max-width: 767px) {
  #myCarousel .carousel-inner .carousel-item .carousel-caption {
    top: 0;
    bottom: 0;
  }
}

#myCarousel .carousel-inner .carousel-item .carousel-caption h1 {
  font-family: 'bukra';
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
  -webkit-animation-duration: 1.2s;
          animation-duration: 1.2s;
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  font-size: 40px;
  margin-bottom: 15px;
  color: #FFF;
  line-height: 1.5;
  letter-spacing: 0;
  font-weight: 600;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: rgba(25, 29, 32, 0.32);
  padding: 10px;
}

@media (max-width: 767px) {
  #myCarousel .carousel-inner .carousel-item .carousel-caption h1 {
    font-size: 15px;
    margin-top: 13%;
  }
}

@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

/* end slider */
/* start about */
.about {
  direction: rtl;
  padding-top: 70px;
  padding-bottom: 100px;
}

.about p {
  font-family: 'bukra';
  font-size: 14px;
}

/* end about */
/* start services */
.services .services-row {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.services .services-row .service .service-title {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-bottom: 5px dashed red;
  font-family: 'bukra';
  font-size: 16px;
}

.services .services-row .service-1 img {
  width: 22%;
}

.services .services-row .service-2 img {
  width: 15%;
}

.services .services-row .service-3 img {
  width: 20%;
}

.services .services-row .service-4 img {
  width: 14%;
}

/* start services */
/* start books */
.books .books-row {
  -moz-justify-content: space-around;
  -o-justify-content: space-around;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.books .books-row img {
  width: 50%;
  margin-bottom: 70px;
}

/* end books */
/* start contact-us*/
.contact-us {
  background-color: #0088a4;
  border-bottom: 5px solid #ffffff;
  padding: 20px 0;
  padding-top: 100px;
  background-image: url("../imgs/contact-bkg.png");
}

.contact-us .keep-touch h6 {
  font-family: 'bukra';
  font-size: 14px;
  color: #ffffff;
}

.contact-us .keep-touch form input, .contact-us .keep-touch form textarea, .contact-us .keep-touch form button {
  font-family: 'bukra';
  font-size: 12px;
}

.contact-us .keep-touch form textarea {
  padding: 10px;
}

@media (max-width: 767px) {
  .contact-us .keep-touch {
    margin-bottom: 45px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .contact-us .keep-touch {
    max-width: 60%;
    -ms-flex-preferred-size: 60%;
        flex-basis: 60%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .contact-us .reserve {
    max-width: 30%;
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
  }
}

.contact-us .reserve .contact-info h6 {
  font-family: 'arialbd';
  font-size: 25px;
  font-weight: bold;
  color: #ffffff;
}

.contact-us .reserve .contact-info .reserve-contact {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  font-family: 'arialbd';
  font-size: 16px;
  padding: 2% 2%;
}

.contact-us .reserve .contact-info .reserve-contact li {
  margin-bottom: 5px;
  font-family: 'arialbd';
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
}

.contact-us .reserve .contact-info .reserve-contact li img {
  width: 22px;
  margin-right: 5px;
}

.contact-us .reserve .contact-info h5 {
  font-family: 'arialbd';
  font-size: 19px;
  font-weight: bold;
  color: #000000;
}

.contact-us .reserve .contact-info .time-hrs {
  background-color: #ffffff;
  border: 1px solid #000000;
  color: #000000;
  width: 100%;
}

@media (max-width: 767px) {
  .contact-us .reserve .contact-info .time-hrs {
    width: 70%;
  }
}

.contact-us .reserve .contact-info .time-hrs .am, .contact-us .reserve .contact-info .time-hrs .pm {
  width: 50%;
  font-family: 'arialbd';
  font-size: 18px;
  font-weight: bold;
}

.contact-us .reserve .contact-info .time-hrs .am {
  border-left: 1px solid #191d20;
}

.contact-us .reserve .contact-info .time-hrs .right-hr, .contact-us .reserve .contact-info .time-hrs .left-hr {
  color: red;
}

.contact-us .reserve .contact-info .social-black {
  margin: 20px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.contact-us .reserve .contact-info .social-black h5 {
  font-family: 'bukra';
}

.contact-us .reserve .contact-info .social-black .social li {
  width: 25px;
  height: 25px;
  margin: 5px 2px;
  font-size: 14px;
  padding: 1%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-us .reserve .contact-info .social-black .social li a {
  color: #ffffff;
}

@media (max-width: 767px) {
  .contact-us .reserve .contact-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 30px;
  }
}

.contact-us form .form-group {
  margin-bottom: 10px;
}

.contact-us form .form-control {
  border: none;
  border-radius: 0;
}

.contact-us form textarea {
  width: 100%;
  resize: none;
  margin-bottom: -7px;
}

.contact-us form button {
  width: 100%;
  background-color: #191d20;
  border: none;
  border-radius: 0;
  outline: none;
}

/* end contact-us */
/* start footer */
footer {
  background-color: #191d20;
  padding: 20px 0;
}

footer .row {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .footer-img img {
  width: 70px;
}

footer .footer-img-2 {
  position: relative;
}

footer .footer-img-2 h5 {
  position: absolute;
  right: -40px;
  font-size: 14px;
  color: white;
  font-family: 'bukra';
  font-size: 12px;
}

footer .footer-img-2 img {
  width: 120px;
}

footer .footer-img-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .footer-img-3 img {
  height: 40px;
  width: 32px;
}

/* end footer */
.fixed-contact {
  background: url("../imgs/whats-background.png") no-repeat;
  background-size: cover;
  position: fixed;
  left: 15px;
  top: 140px;
  right: auto;
  width: 400px;
  height: 280px;
  border-radius: 20px;
  z-index: 10001;
  display: none;
}

@media (max-width: 767px) {
  .fixed-contact {
    width: 280px;
    height: 240px;
  }
}

.contact-nav {
  background-color: #2e8c7d;
  width: 100%;
  padding: 20px;
  border-radius: 20px 20px 0 0;
  color: #97c6be;
  font-size: 20px;
}

@media (max-width: 767px) {
  .contact-nav {
    font-size: 15px;
  }
}

.contain {
  padding-left: 20px;
  padding-right: 30px;
  margin-top: 30px;
  direction: ltr;
  background-color: #fff;
  border-radius: 32px;
  margin-right: 15px;
  margin-left: 15px;
  height: 70px;
  font-size: 15px;
  text-align: right;
  line-height: 25px;
  padding-top: 6px;
}

@media (max-width: 767px) {
  .contain {
    font-size: 10px;
  }
}

.contain p {
  font-family: 'bukra';
}

.contain p a {
  color: #0088a4;
}

.contact-nav .close {
  background-color: #25d366;
  color: #fff;
  opacity: 1;
  padding: 5px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 15px;
  text-align: center;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.whats-fixed {
  position: fixed;
  left: 25px;
  top: 350px;
  background-color: #25d366;
  z-index: 10001;
  padding: 10px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.whats-fixed:hover {
  background-color: #2e8c7d !important;
}

.whats-fixed i {
  font-size: 40px;
  color: #fff;
}

.fixed-call {
  position: fixed;
  top: 285px;
  left: 25px;
  right: auto;
  z-index: 1000;
}
/*# sourceMappingURL=main.css.map */