$grayColor: #191d20 ;
$blueColor: #0088a4 ;


$mobile: "(max-width: 767px)";
$minSmall: "(min-width: 768px)";
$miny: "(max-width: 575px)";
$minMedium: "(min-width: 992px)";
$medium: "(min-width: 992px) and (max-width: 1199px)";

$maxSmall: "(max-width: 991px)";
$small: "(min-width: 768px) and (max-width: 991px)";
$minlarge: "(min-width: 1200px)";

%rotate {
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
}
%trans {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.block-sec {
    direction: rtl;
    padding-top: 70px;
    border: 2px solid $grayColor;
    border-bottom: none;    
    border-top: none;
    position: relative;

    background-image: url('../imgs/line.png');
    background-size: contain;
    background-repeat: no-repeat;
    h3 {
        font-family: 'bukra';
        font-size: 18px;
        font-weight: bold;
    }
}

.col-mobile-full {
    @media #{$mobile} {
        flex-basis: 100%; 
        }        
    }
@font-face {
    font-family: "arial";
    src: url("../fonts/arial.ttf");
}
@font-face {
    font-family: "arialbd";
    src: url("../fonts/arialbd.ttf");
}
@font-face {
    font-family: "arialbi";
    src: url("../fonts/arialbi.ttf");
}
@font-face {
    font-family: "ariali";
    src: url("../fonts/ariali.ttf");
}
@font-face {
    font-family: "bukra";
    src: url("../fonts/29lt-bukra-bold_0.ttf");
}
@font-face {
    font-family: "ARIALNB_2";
    src: url("../fonts/ARIALNB_2.ttf");
}
@font-face {
    font-family: "ARIALN_2";
    src: url("../fonts/ARIALN_2.ttf");
}
@font-face {
    font-family: "ARIALNBI_2";
    src: url("../fonts/ARIALNBI2.ttf");
}
@font-face {
    font-family: "ARIALNI_2";
    src: url("../fonts/ARIALNI2.ttf");
}
@font-face {
    font-family: "ariblk";
    src: url("../fonts/ariblk.ttf");
}
@font-face {
    font-family: "bokra";
    src: url("../fonts/bokra.ttf");
}
@font-face {
    font-family: "MATEEN";
    src: url("../fonts/MATEEN.ttf");
}
html {
    scroll-behavior: smooth;
    height: 100%; /* added */
}
body {
    height: 100%; /* added */
}
* {
    box-sizing: border-box;
}
a {
    outline: none;
    text-decoration: none;
    color: $grayColor;
}
.col-mobile-full {
    @media #{$mobile} {
      flex-basis: 100%;
      max-width: 100%;
    }
  }
.justify-content-round {
    justify-content: space-around;
}

.sticky {
    background-color: $grayColor;
    border-bottom: 1px solid $blueColor;
    @extend %trans;
}
.sticky-logo {
    border-bottom: 1px solid $grayColor;
    @extend %trans;
    @media #{$maxSmall} {
        background: linear-gradient(to top, rgba(255, 255, 255, 0) -34%, #191d20 50%, #191d20 100%);
    }
}
/* start header */
    .social-media {
        position: fixed;
        z-index: 3;
        top: 100px;
        padding-left: 5px;
        border-left: 5px solid $blueColor;
        @media #{$mobile} {display: none;}
        ul {
            li {
                img{
            width: 35px;
            margin-right: 10px;
            border-radius: 50%;
            @extend %trans;
            @media #{$mobile} {
                width: 25px;
            }
            &:hover {
                border-radius: 50%;
                margin-left: 10px;
                @extend %trans;
            }
            &.snap {
                &:hover {
                    background-color: yellow;
                }
            }
            &.y-tub {
                &:hover {
                    background-color: #ff0000;
                }
            }
            &.inst {
                &:hover {
                    background-color: #e24658;
                }
            }
            &.tw {
                &:hover {
                    background-color: #1da1f2;
                }
            }
            &.fb {
                &:hover {
                    background-color: #4867aa;
                }
            }
                }
            }    }
    }
/* end header */

/* start nav */
.navbar{
    direction: rtl;
    padding: 0;
    @media #{$maxSmall} {
        background-color: unset;
    }
    .navbar-toggler {
        background-color: $blueColor;
        margin-top: -75px;
        margin-right: 5%;
    }
    .navbar-light .navbar-toggler {
        border-color: $grayColor !important;
    }
    .logo {
        background-color: $blueColor;
        height: 100%;
        padding-bottom: 21px;
        padding-top: 21px;
        @extend %trans;
        .navbar-brand {
            font-family: 'bokra';
            font-size: 20px;
            font-weight: bold;
            color: #ffffff;
            @media #{$mobile} { /* added */
                font-size: 15px;
            }
        }
        @media #{$maxSmall} {
            justify-content: center;
            display: flex;
            flex-direction: row;
            flex-basis: 100%;
        }
    }
    .navbar-collapse {
        @extend %trans;
    }
    .navbar-nav {
        @media #{$miny} { /* added */
            padding-right: 0;
        }
        @media #{$maxSmall} {
            background-color: $grayColor;
            text-align: right;
            flex-direction: row;
            justify-content: center;

        }
        .nav-item{
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 82px;
            &:last-of-type { .nav-link { border-left: 0px ;} }

            @media #{$maxSmall} {
                margin-bottom: 15px;
                margin-top: 15px;
                height: auto;
            }
            .nav-link {
                border-left: 3px solid;
                padding: 0;
                padding: 0 30px;
                color: #ffffff;
                padding-bottom: 5px;
                padding-top: 5px;           
                font-family: 'bukra';
                font-size: 12px;
                @extend %trans;
                display: flex;
                flex-direction: column;
                justify-content: center;
                
                &:hover {
                    height: 100%;
                    @extend %trans;
                    padding: 5px 30px;
                    color: $blueColor;
                    background-color: #ffffff2b;
                    
                    @media #{$mobile} {
                        font-size: 10px;
                        padding: 5px 10px; 
                    }
                    @media #{$miny} { /* added */
                        padding: 5px 2px;
                    }
                }
                @media #{$maxSmall} {
                    border-right: 3px solid;
                    border-left: none;
                    padding: 5px 30px;       
                }
                @media #{$mobile} {
                    font-size: 10px;
                    padding: 5px 10px;       
                }
                @media #{$miny} { /* added */
                    padding: 5px 2px;
                }
            }
        }
    }
}
/* end nav */

/* start slider */
#myCarousel {
    background-color: $blueColor;
    padding: 81px 0;
    direction: rtl;
    @media #{$minlarge} { /* added */
        height: 100%; 
    }
   
    .carousel-inner {
        .carousel-item {
            .carousel-caption {
                bottom: 40%;
                top: 25%;
                margin-right: 115px;
                right: 0;
                text-align: right;
                @media #{$mobile} {
                    top: 0;
                    bottom: 0;
                }
                 h1 {
                    font-family: 'bukra';
                    -webkit-animation-name:fadeInLeft; animation-name:fadeInLeft;animation-duration: 1.2s;
                    -webkit-animation-name: fadeInLeft;
                    animation-name: fadeInLeft;
                    animation-delay: 1s;
                    animation-duration: 1s;
                    -webkit-animation-fill-mode: both;
                    animation-fill-mode: both;
                    font-size:40px;

                    margin-bottom:15px;
                    color:#FFF;
                    line-height:1.5;
                    letter-spacing:0;
                    font-weight:600;
                    
                    width: fit-content;
                    background-color: rgba(25, 29, 32, 0.32);
                    padding: 10px;
                    @media #{$mobile} {
                        font-size: 15px;
                        margin-top: 13%;
                    }
                }
            }
        }
    }
}
		 
	@keyframes fadeInLeft {
  		from {
    		opacity: 0;
    		-webkit-transform: translate3d(-100%, 0, 0);
    		transform: translate3d(-100%, 0, 0);
  		}
        to {
            opacity: 1;
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
        }
    }
/* end slider */

/* start about */
.about {
    direction: rtl;
    padding-top: 70px;
    padding-bottom: 100px;
    p {
        font-family: 'bukra';
        font-size: 14px;
    }
}
/* end about */

/* start services */
.services {
    .services-row {
        align-items: flex-end;
        .service {
            .service-title {
                // width: 40%
                width: fit-content;
                border-bottom: 5px dashed red;
                font-family: 'bukra';
                font-size: 16px;
            }
        }
        .service-1 {
            img{
              width: 22%                  
            }
        } 
        .service-2 {
            img{
              width: 15%                  
            }
        } 
        .service-3 {
            img{
              width: 20%                  
            }
        } 
        .service-4 {
            img{
              width: 14%                  
            }
        } 
    }
}
/* start services */

/* start books */
.books {    
    .books-row {   
        -webkit-justify-content: space-around;
        -moz-justify-content: space-around;
        -o-justify-content: space-around;
        justify-content: space-around;

        img {
            width: 50%;
            margin-bottom: 70px;
        }
    }
}
/* end books */

/* start contact-us*/
.contact-us {
    background-color: $blueColor;
    border-bottom: 5px solid #ffffff;
    padding: 20px 0;
    padding-top: 100px;
    background-image: url('../imgs/contact-bkg.png');
    .keep-touch {
        h6 {
            font-family: 'bukra';
            font-size: 14px;
            color: #ffffff;
        }
        form {
            input, textarea, button {
                font-family: 'bukra';
                font-size: 12px;
            }
            textarea {
                padding: 10px;
            }
        }
        @media #{$mobile} {
            margin-bottom: 45px;
        }

        @media #{$small} {
            max-width: 60%;
            flex-basis: 60%;
        }
        @media #{$minMedium} {
            // right: 5%;
        }
    }
    .reserve {
        @media #{$small} {
            max-width: 30%;
            flex-basis: 30%;
        }
    .contact-info {
        h6 {
            font-family: 'arialbd';
            font-size: 25px;
            font-weight: bold;
            color: #ffffff;
        }
        .reserve-contact {
            width: fit-content;
            margin: auto;
            font-family: 'arialbd';
            font-size: 16px;
            padding: 2% 2%;
            li {
                // height: 50px;
                margin-bottom: 5px;
                font-family: 'arialbd';
                font-size: 18px;
                font-weight: bold;
                color: #ffffff;
                img {
                    width: 22px;
                    margin-right: 5px;
                }
            }
        }
        h5 {
            font-family: 'arialbd';
            font-size: 19px;
            font-weight: bold;
            color: #000000;
            }
        .time-hrs {
            background-color: #ffffff;
            border: 1px solid #000000;
            color: #000000;
            width: 100%;
            @media #{$mobile} {
                width: 70%;
            }
            .am, .pm {
                width: 50%;
                font-family: 'arialbd';
                font-size: 18px;
                font-weight: bold;
            }
            .am {
                border-left: 1px solid $grayColor;
            }
            .right-hr, .left-hr {
                color: red;
            }
            .left-hr {
                // border-right: 1px solid black;
            }
        }
        .social-black {
            margin: 20px auto;
            
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            h5 {
                font-family: 'bukra';
            }
            .social {
                li {
                    width: 25px;
                    height: 25px;
                    // border-radius: 50%;
                    // border: 1px solid #000000;
                    margin: 5px 2px;
                    font-size: 14px;
                    padding: 1%;                   
                    display: inline-flex;
                    justify-content: center;
                    align-items: center; 
                    @extend %trans;
                    a{
                        color: #ffffff;

                    }
                }
            }
        }
        @media #{$mobile} {
            display: flex;
            flex-direction: column;
            align-items: center;  
            margin-bottom: 30px;  
        }
    }
}

    form {
        
        .form-group {
            margin-bottom: 10px;
        }
        .form-control {
            border: none;
            border-radius: 0;
        }
        textarea {
            width: 100%;
            resize: none;
            margin-bottom: -7px;
        }
        button {
            width: 100%;
            background-color: $grayColor;
            border: none;
            border-radius: 0;
            outline: none;
        }
    }
}
/* end contact-us */

/* start footer */
footer {
    background-color: $grayColor;
    padding: 20px 0;
    .row {
        justify-content: space-between;
    }
    .footer-img {
        img {
        //    width: 140px;
        //    @media #{$mobile} {
               width: 70px;
        //    }
        }
    }
    .footer-img-2 {
        position: relative;
        h5 {
            position: absolute;
            right: -40px;
            font-size: 14px;
            color:white;
            font-family: 'bukra';
            font-size: 12px;
        }
        img {
            width: 120px;
        }
    }
    .footer-img-3 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        img {
            // height: 80px;
            // width: 65px; 
            // @media #{$mobile} {             
                height: 40px;
                width: 32px;
            // }
        }
       
    }
    
}

/* end footer */



.fixed-contact {
    background: url('../imgs/whats-background.png') no-repeat;
    background-size: cover;
    position: fixed;
    left: 15px;
    top: 140px;
    right: auto;
    width: 400px;
    height: 280px;
    border-radius: 20px;
    z-index: 10001;
    display: none; 
    @extend %trans;
    @media #{$mobile} {
        width: 280px;
        height: 240px;
    }
}
    .contact-nav {
        background-color: #2e8c7d;
        width: 100%;
        padding: 20px;
        border-radius: 20px 20px 0 0;
        color: rgb(151, 198, 190);
        font-size: 20px;
        @media #{$mobile} {
           font-size: 15px;
        }
    }
    .contain {
        padding-left: 20px;
        padding-right: 30px;
        margin-top: 30px;
        direction: ltr;
        background-color: #fff;
        border-radius: 32px;
        margin-right: 15px;
        margin-left: 15px;
        height: 70px;
        font-size: 15px;
        text-align: right;
        line-height: 25px;
        padding-top: 6px;
        @media #{$mobile} {
            font-size: 10px;
        }
        p {
            font-family: 'bukra';
            a {
                color: $blueColor;
            }
        }
    }
    .contact-nav .close {
        background-color: #25d366;
        color: #fff;
        opacity: 1;
        padding: 5px;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        font-size: 15px;
        text-align: center;
        -webkit-transition: all 0.1s ease-in-out;
        -moz-transition: all 0.1s ease-in-out;
        -o-transition: all 0.1s ease-in-out;
        transition: all 0.1s ease-in-out;
    }
    .whats-fixed {
    
    position: fixed;
    left: 25px;
    // bottom: 130px;
    top: 350px;
    background-color: #25d366;
    z-index: 10001;
    padding: 10px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}
.whats-fixed:hover {
    background-color: #2e8c7d !important;
}
.whats-fixed i {
    font-size: 40px;
    color: #fff;
}
.fixed-call {
    
    position: fixed;
    // bottom: 200px;
    top: 285px;
    left: 25px;
    right: auto;
    z-index: 1000;
}