.sticky, .sticky-logo, header .social-media ul li img, header .social-media ul li img:hover, .navbar .logo, .navbar .navbar-collapse, .navbar .navbar-nav .nav-item .nav-link, .navbar .navbar-nav .nav-item .nav-link:hover, .fixed-contact {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.block-sec {
  direction: rtl;
  padding-top: 70px;
  border: 2px solid #191d20;
  border-bottom: none;
  border-top: none;
  position: relative;
  background-image: url("../imgs/line.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.block-sec h3 {
  font-family: 'bukra';
  font-size: 18px;
  font-weight: bold;
}

@media (max-width: 767px) {
  .col-mobile-full {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

@font-face {
  font-family: "arial";
  src: url("../fonts/arial.ttf");
}

@font-face {
  font-family: "arialbd";
  src: url("../fonts/arialbd.ttf");
}

@font-face {
  font-family: "arialbi";
  src: url("../fonts/arialbi.ttf");
}

@font-face {
  font-family: "ariali";
  src: url("../fonts/ariali.ttf");
}

@font-face {
  font-family: "bukra";
  src: url("../fonts/29lt-bukra-bold_0.ttf");
}

@font-face {
  font-family: "ARIALNB_2";
  src: url("../fonts/ARIALNB_2.ttf");
}

@font-face {
  font-family: "ARIALN_2";
  src: url("../fonts/ARIALN_2.ttf");
}

@font-face {
  font-family: "ARIALNBI_2";
  src: url("../fonts/ARIALNBI2.ttf");
}

@font-face {
  font-family: "ARIALNI_2";
  src: url("../fonts/ARIALNI2.ttf");
}

@font-face {
  font-family: "ariblk";
  src: url("../fonts/ariblk.ttf");
}

@font-face {
  font-family: "bokra";
  src: url("../fonts/bokra.ttf");
}

@font-face {
  font-family: "MATEEN";
  src: url("../fonts/MATEEN.ttf");
}

html {
  scroll-behavior: smooth;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  outline: none;
  text-decoration: none;
  color: #191d20;
}

@media (max-width: 767px) {
  .col-mobile-full {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    max-width: 100%;
  }
}

.justify-content-round {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.sticky {
  background-color: #191d20;
  border-bottom: 1px solid #0088a4;
}

.sticky-logo {
  border-bottom: 1px solid #191d20;
}

@media (max-width: 991px) {
  .sticky-logo {
    background: -webkit-gradient(linear, left bottom, left top, color-stop(-34%, rgba(255, 255, 255, 0)), color-stop(50%, #191d20), to(#191d20));
    background: linear-gradient(to top, rgba(255, 255, 255, 0) -34%, #191d20 50%, #191d20 100%);
  }
}

/* start header */
header .social-media ul li {
  float: left;
}

header .social-media ul li img {
  width: 50px;
  margin-right: 10px;
}

@media (max-width: 767px) {
  header .social-media ul li img {
    width: 25px;
  }
}

header .social-media ul li img:hover {
  border-radius: 50%;
}

header .social-media ul li img.snap:hover {
  background-color: yellow;
}

header .social-media ul li img.y-tub:hover {
  background-color: #ff0000;
}

header .social-media ul li img.inst:hover {
  background-color: #e24658;
}

header .social-media ul li img.tw:hover {
  background-color: #1da1f2;
}

header .social-media ul li img.fb:hover {
  background-color: #4867aa;
}

header .social-media ul li img.w-app:hover {
  background-color: #00e676;
}

/* end header */
/* start nav */
.navbar {
  direction: rtl;
  padding: 0;
  background-color: #191d20;
  border-bottom: 1px solid #0088a4;
  width: 100%;
}

@media (max-width: 991px) {
  .navbar {
    background-color: unset;
  }
}

.navbar .navbar-toggler {
  background-color: #0088a4;
  margin-top: -75px;
  margin-right: 5%;
}

.navbar .navbar-light .navbar-toggler {
  border-color: #191d20 !important;
}

.navbar .logo {
  background-color: #0088a4;
  height: 100%;
  padding-bottom: 21px;
  padding-top: 21px;
}

.navbar .logo .navbar-brand {
  font-family: 'bokra';
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
}

@media (max-width: 991px) {
  .navbar .logo {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

@media (max-width: 991px) {
  .navbar .navbar-nav {
    background-color: #191d20;
    text-align: right;
  }
}

.navbar .navbar-nav .nav-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 82px;
}

@media (max-width: 991px) {
  .navbar .navbar-nav .nav-item {
    margin-bottom: 15px;
    height: auto;
  }
}

.navbar .navbar-nav .nav-item .nav-link {
  border-left: 3px solid;
  padding: 0;
  padding: 0 30px;
  color: #ffffff;
  padding-bottom: 5px;
  padding-top: 5px;
  font-family: 'bukra';
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navbar .navbar-nav .nav-item .nav-link:hover {
  height: 100%;
  padding: 5px 30px;
  color: #0088a4;
  background-color: #ffffff2b;
}

@media (max-width: 991px) {
  .navbar .navbar-nav .nav-item .nav-link {
    border-right: 3px solid;
    border-left: none;
    padding: 5px;
  }
}

/* end nav */
/* start slider */
#myCarousel .carousel-item .mask {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-attachment: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#myCarousel h4 {
  font-size: 40px;
  margin-bottom: 15px;
  color: #FFF;
  line-height: 1.5;
  letter-spacing: 0;
  font-weight: 600;
  font-family: 'bukra';
}

@media (max-width: 767px) {
  #myCarousel h4 {
    font-size: 20px;
    margin-top: 20px;
  }
}

#myCarousel p {
  font-size: 18px;
  margin-bottom: 15px;
  color: #d5d5d5;
}

#myCarousel .carousel-item a {
  background: #F47735;
  font-size: 14px;
  color: #FFF;
  padding: 13px 32px;
  display: inline-block;
}

#myCarousel .carousel-item a:hover {
  background: #394fa2;
  text-decoration: none;
}

#myCarousel .carousel-item h4 {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}

#myCarousel .carousel-item p {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
}

#myCarousel .carousel-item a {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

#myCarousel .carousel-item .mask img {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
  display: block;
  height: auto;
  max-width: 100%;
}

@media (max-width: 767px) {
  #myCarousel .carousel-item .mask img {
    width: 60%;
  }
}

@media (min-width: 768px) {
  #myCarousel .carousel-item .mask .extra {
    width: 60%;
  }
}

@media (max-width: 767px) {
  #myCarousel .carousel-item .mask .extra {
    width: 35%;
  }
}

#myCarousel h4, #myCarousel p, #myCarousel a, #myCarousel .carousel-item .mask img {
  -webkit-animation-duration: 1s;
  animation-duration: 1.2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

#myCarousel .container {
  max-width: 1430px;
}

#myCarousel .carousel-item {
  height: 100%;
  min-height: 550px;
}

#myCarousel {
  position: relative;
  z-index: 1;
  background: url(https://i.imgur.com/6axE29k.jpg) center center no-repeat;
  background-size: cover;
}

.carousel-control-next, .carousel-control-prev {
  height: 40px;
  width: 40px;
  padding: 12px;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: #f47735;
}

.carousel-item {
  position: relative;
  display: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  transition: -webkit-transform .6s ease;
  -webkit-transition: -webkit-transform .6s ease;
  transition: transform .6s ease;
  transition: transform .6s ease, -webkit-transform .6s ease;
  transition: transform .6s ease,-webkit-transform .6s ease;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000px;
  perspective: 1000px;
}

.carousel-fade .carousel-item {
  opacity: 0;
  -webkit-transition-duration: .6s;
  transition-duration: .6s;
  -webkit-transition-property: opacity;
  transition-property: opacity;
}

.carousel-fade .carousel-item-next.carousel-item-left, .carousel-fade .carousel-item-prev.carousel-item-right, .carousel-fade .carousel-item.active {
  opacity: 1;
}

.carousel-fade .carousel-item-left.active, .carousel-fade .carousel-item-right.active {
  opacity: 0;
}

.carousel-fade .carousel-item-left.active, .carousel-fade .carousel-item-next, .carousel-fade .carousel-item-prev, .carousel-fade .carousel-item-prev.active, .carousel-fade .carousel-item.active {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

@supports ((-webkit-transform-style: preserve-3d) or (transform-style: preserve-3d)) {
  .carousel-fade .carousel-item-left.active, .carousel-fade .carousel-item-next, .carousel-fade .carousel-item-prev, .carousel-fade .carousel-item-prev.active, .carousel-fade .carousel-item.active {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.carousel-fade .carousel-item-left.active, .carousel-fade .carousel-item-next, .carousel-fade .carousel-item-prev, .carousel-fade .carousel-item-prev.active, .carousel-fade .carousel-item.active {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.carousel-control-next, .carousel-control-prev {
  background-color: #191d20;
}

#myCarousel {
  direction: rtl;
  background-image: none !important;
  background-color: #0088a4 !important;
}

@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

@-webkit-keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slideInRight {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
}

/* end slider */
/* start about */
.about {
  direction: rtl;
  padding-top: 70px;
  padding-bottom: 100px;
}

.about p {
  font-family: 'bukra';
  font-size: 14px;
}

/* end about */
/* start services */
.services .services-row {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.services .services-row .service .service-title {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-bottom: 5px dashed red;
  font-family: 'bukra';
  font-size: 16px;
}

.services .services-row .service-1 img {
  width: 22%;
}

.services .services-row .service-2 img {
  width: 15%;
}

.services .services-row .service-3 img {
  width: 20%;
}

.services .services-row .service-4 img {
  width: 14%;
}

/* start services */
/* start books */
.books .books-row {
  -moz-justify-content: space-around;
  -o-justify-content: space-around;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.books .books-row img {
  width: 50%;
  margin-bottom: 70px;
}

/* end books */
/* start contact-us*/
.contact-us {
  background-color: #0088a4;
  border-bottom: 5px solid #ffffff;
  padding: 20px 0;
  padding-top: 100px;
  background-image: url("../imgs/bac-black.png");
}

.contact-us .keep-touch h6 {
  font-family: 'bukra';
  font-size: 14px;
  color: #ffffff;
}

.contact-us .keep-touch form input, .contact-us .keep-touch form textarea, .contact-us .keep-touch form button {
  font-family: 'bukra';
  font-size: 12px;
}

.contact-us .keep-touch form textarea {
  padding: 10px;
}

@media (max-width: 767px) {
  .contact-us .keep-touch {
    margin-bottom: 45px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .contact-us .keep-touch {
    max-width: 60%;
    -ms-flex-preferred-size: 60%;
        flex-basis: 60%;
  }
}

.contact-us .share {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

@media (max-width: 767px) {
  .contact-us .share .share-it {
    text-align: center;
    margin-bottom: 30px;
  }
}

.contact-us .share .share-it a img {
  max-width: 100%;
}

@media (max-width: 767px) {
  .contact-us .share .share-it a img {
    text-align: center;
    max-width: 50%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .contact-us .share {
    max-width: 10%;
    -ms-flex-preferred-size: 10%;
        flex-basis: 10%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .contact-us .reserve {
    max-width: 30%;
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
  }
}

.contact-us .reserve .contact-info h6 {
  font-family: 'arialbd';
  font-size: 25px;
  font-weight: bold;
  color: #ffffff;
}

.contact-us .reserve .contact-info .reserve-contact {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  font-family: 'arialbd';
  font-size: 16px;
  padding: 2% 2%;
}

.contact-us .reserve .contact-info .reserve-contact li {
  margin-bottom: 5px;
  font-family: 'arialbd';
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
}

.contact-us .reserve .contact-info .reserve-contact li img {
  width: 22px;
  margin-right: 5px;
}

.contact-us .reserve .contact-info h5 {
  font-family: 'arialbd';
  font-size: 19px;
  font-weight: bold;
  color: #000000;
}

.contact-us .reserve .contact-info .time-hrs {
  background-color: #ffffff;
  border: 1px solid #000000;
  color: #000000;
  width: 100%;
}

@media (max-width: 767px) {
  .contact-us .reserve .contact-info .time-hrs {
    width: 70%;
  }
}

.contact-us .reserve .contact-info .time-hrs .am, .contact-us .reserve .contact-info .time-hrs .pm {
  width: 50%;
  font-family: 'arialbd';
  font-size: 18px;
  font-weight: bold;
}

.contact-us .reserve .contact-info .time-hrs .am {
  border-left: 1px solid #191d20;
}

.contact-us .reserve .contact-info .time-hrs .right-hr, .contact-us .reserve .contact-info .time-hrs .left-hr {
  color: red;
}

.contact-us .reserve .contact-info .social-black {
  margin: 20px auto;
}

.contact-us .reserve .contact-info .social-black .social li {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 1px solid #000000;
  margin: 5px 2px;
  font-size: 14px;
  padding: 1%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.contact-us .reserve .contact-info .social-black .social li:hover {
  background-color: #191d20;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.contact-us .reserve .contact-info .social-black .social li:hover a {
  color: #ffffff;
}

@media (max-width: 767px) {
  .contact-us .reserve .contact-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 30px;
  }
}

.contact-us form .form-group {
  margin-bottom: 10px;
}

.contact-us form .form-control {
  border: none;
  border-radius: 0;
}

.contact-us form textarea {
  width: 100%;
  resize: none;
  margin-bottom: -7px;
}

.contact-us form button {
  width: 100%;
  background-color: #191d20;
  border: none;
  border-radius: 0;
  outline: none;
}

/* end contact-us */
/* start footer */
footer {
  background-color: #191d20;
  padding: 20px 0;
}

footer .row {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .footer-img img {
  width: 70px;
}

footer .footer-img-2 {
  position: relative;
}

footer .footer-img-2 h5 {
  position: absolute;
  right: -40px;
  font-size: 14px;
  color: white;
  font-family: 'bukra';
  font-size: 12px;
}

footer .footer-img-2 img {
  width: 120px;
}

footer .footer-img-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .footer-img-3 img {
  height: 40px;
  width: 32px;
}

/* end footer */
.fixed-contact {
  background: url("../imgs/whats-background.png") no-repeat;
  background-size: cover;
  position: fixed;
  left: 30px;
  bottom: 25px;
  right: auto;
  width: 400px;
  height: 280px;
  border-radius: 20px;
  z-index: 99999;
  display: none;
}

.contact-nav {
  background-color: #2e8c7d;
  width: 100%;
  padding: 20px;
  border-radius: 20px 20px 0 0;
  color: #97c6be;
  font-size: 20px;
}

.contain {
  padding-left: 20px;
  padding-right: 30px;
  margin-top: 30px;
  direction: ltr;
  background-color: #fff;
  border-radius: 32px;
  margin-right: 15px;
  margin-left: 15px;
  height: 70px;
  font-size: 15px;
  text-align: right;
  line-height: 25px;
  padding-top: 6px;
}

.contain p {
  font-family: 'bukra';
}

.contain p a {
  color: #0088a4;
}

.contact-nav .close {
  background-color: #25d366;
  color: #fff;
  opacity: 1;
  padding: 5px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 15px;
  text-align: center;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.whats-fixed {
  position: fixed;
  left: 40px;
  bottom: 35px;
  background-color: #25d366;
  z-index: 99999999;
  padding: 10px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.whats-fixed:hover {
  background-color: #2e8c7d !important;
}

.whats-fixed i {
  font-size: 40px;
  color: #fff;
}
/*# sourceMappingURL=main.css.map */